


.gallery {
padding: 40px;
display: grid;
grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
gap: 20px;
}


.gallery img {
width: 100%;
height: 200px;
object-fit: cover;
border-radius: 14px;
box-shadow: 0 4px 10px rgba(0,0,0,0.1);
transition: transform 0.3s;
}


.gallery img:hover {
transform: scale(1.05);
}



