
@import '../../../styles.scss';

.gallery {
padding: 40px;
display: grid;
grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
gap: 20px;
}


.gallery div {
width: 100%;
height: 200px;
object-fit: cover;
border-radius: 14px;
box-shadow: 0 4px 10px rgba(0,0,0,0.1);
transition: transform 0.8s $soft-popup;

}


.gallery div:hover {
transform: translateY(-100px);
}



